<section class="section-about section">
    <div class="container-about container">
            <div class="about-text">
            <h2 class="about-title" id="about">About Us</h2>
                <p class="about-text-top">
                    Welcome to our premium watch collection, where luxury and style meet functionality and precision.
                    Our selection of
                    timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll
                    always have a reliable
                    and stylish accessory on your wrist.
                </p>
                <p class="about-text-bottom">
                    At our premium watch collection, we believe that a watch is more than just a timekeeping device –
                    it's a statement piece
                    that reflects your personality and style. So why settle for anything less than the best?
                </p>
            <a class="about-button" href="#catalog"><span class="about-catalog">View catalog</span>
            </a>
            </div>
            
    <picture>
        <source media="(min-width: 1280px)" srcset="
                            /img/about-us/watch-about-desktop.jpg 1x,
                            /img/about-us/watch-about-desktop@2x.jpg 2x,
                            " />
        <source media="(min-width: 768px)" srcset="
                            /img/about-us/watch-about-tablet.jpg 1x,
                            /img/about-us/watch-about-tablet@2x.jpg 2x,
                            " />
        <source media="(max-width: 767px)" srcset="
                            /img/about-us/watch-about-mobile.jpg 1x,
                            /img/about-us/watch-about-mobile@2x.jpg 2x,
                            "/>
        <img class="about-img" src="/img/about-us/watch-about-desktop.jpg" alt="watches" width="335" height="446">
    </picture>
    </div>
</section>