<footer class="page-footer">
    <div class="container footer-container">
        <section class="section footer-section">
            <section class="footer-section-social">
    <div class="container-logo">           
    <a class="footer-logo">watchcharm</a>
    <div class="social-container-footer">
    <ul class="social-list-footer">
        <li class="social-item-footer"><a class="social-link-footer" href=""><svg class="footer-social-icons" width="20"
                    height="20">
                    <use href="./img/icons.svg#icon-facebook"></use>
                </svg></a></li>
        <li class="social-item-footer"><a class="social-link-footer" href=""><svg class="footer-social-icons" width="20"
                    height="20">
                    <use href="./img/icons.svg#icon-instagram"></use>
                </svg></a></li>
        <li class="social-item-footer"><a class="social-link-footer" href=""><svg class="footer-social-icons" width="20"
                    height="20">
                    <use href="./img/icons.svg#icon-youtube"></use>
                </svg></a></li>
    </ul>
    </div>
    </div>
    <address class="contacts">
    <a class="contacts-link-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
    <p class="footer-text">Have the time of your life with our watches: where high-class craftsmanship meets impeccable
        design
    </p>
    </section>
    <section class="footer-section-nav">
    <div class="container-nav-footer">
        <div class="container-nav">
    <nav class="footer-nav">
        <ul class="footer-nav-list">
            <li class="footer-nav-item"><a class="footer-nav-link" href="#">Home</a></li>
            <li class="footer-nav-item"><a class="footer-nav-link" href="#">About Us</a></li>
            <li class="footer-nav-item"><a class="footer-nav-link" href="#">Catalog</a></li>
            <li class="footer-nav-item"><a class="footer-nav-link" href="#">Sale</a></li>
            <li class="footer-nav-item"><a class="footer-nav-link" href="#">Reviews</a></li>
            <li class="footer-nav-item"><a class="footer-nav-link" href="#">Contact Us</a></li>
        </ul>
    </nav>
    </div>
    <div class="container-address">
    <address class="contacts">
        <a class="contacts-link" href="">
            1678 S. Pioneer Road Salt<br />
            Lake City UT 84104
        </a>
    </address>
    </div>
    </div>
    <p class="vectof-icon visually-hidden">vector</p>
    <div class="footer">
        <svg class="footer-icons" width="1136" height="0">
            <use href="./img/icons.svg#icon-vector"></use>
        </svg>
    </div>
    <div class="list-footer-link">
    <ul class="footer-list">
        <li class="footer-item">
            <a class="footer-link">&copy; 2023 The Watch Spot. All rights reserved.</a>
        </li>
        <div class="footer-link-list">
        <li class="footer-item">
            <a class="footer-link" href="#">Terms of Service</a>
        </li>
        <li class="footer-item">
            <a class="footer-link" href="#">Privacy Policy</a>
        </li>
        </div>
    </ul>
    </div>
    </section>
    </section>
    </div>
</footer>