<section class="section section-sale">
  <div class="container">
    <h2 class="section-sale-title">Sale</h2>
    <div class="sale-thumb">
      <div class="sale-thumb-photo">
        <div class="sale-watch-small-photo">
          <ul class="sale-watch-list">
            <li class="sale-watch-item">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/sale/watch-one-tablet-desktop.webp    1x,
                    /img/sale/watch-one-tablet-desktop@2x.webp 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/sale/watch-one-tablet-desktop.webp    1x,
                    /img/sale/watch-one-tablet-desktop@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/sale/watch-one-mobile.webp    1x,
                    /img/sale/watch-one-mobile@2x.webp 2x
                  "
                />
                <img
                  class="sale-item-picture"
                  src="/img/sale/watch-one-mobile.webp"
                  alt="watch front view"
                  width="96"
                  height="100"
                />
              </picture>
            </li>
            <li class="sale-watch-item">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/sale/watch-two-tablet-desktop.webp    1x,
                    /img/sale/watch-two-tablet-desktop@2x.webp 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/sale/watch-two-tablet-desktop.webp    1x,
                    /img/sale/watch-two-tablet-desktop@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/sale/watch-two-mobile.webp    1x,
                    /img/sale/watch-two-mobile@2x.webp 2x
                  "
                />
                <img
                  class="sale-item-picture"
                  src="/img/sale/watch-two-mobile.webp"
                  alt="watch front view"
                  width="96"
                  height="100"
                />
              </picture>
            </li>
            <li class="sale-watch-item">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/sale/watch-three-tablet-desktop.webp    1x,
                    /img/sale/watch-three-tablet-desktop@2x.webp 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/sale/watch-three-tablet-desktop.webp    1x,
                    /img/sale/watch-three-tablet-desktop@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/sale/watch-three-mobile.webp    1x,
                    /img/sale/watch-three-mobile@2x.webp 2x
                  "
                />
                <img
                  class="sale-item-picture"
                  src="/img/sale/watch-three-mobile.webp"
                  alt="watch front view"
                  width="96"
                  height="100"
                />
              </picture>
            </li>
            <li class="sale-watch-item">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/sale/watch-four-tablet-desktop.webp    1x,
                    /img/sale/watch-four-tablet-desktop@2x.webp 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/sale/watch-four-tablet-desktop.webp    1x,
                    /img/sale/watch-four-tablet-desktop@2x.webp 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/sale/watch-four-mobile.webp    1x,
                    /img/sale/watch-four-mobile@2x.webp 2x
                  "
                />
                <img
                  class="sale-item-picture"
                  src="/img/sale/watch-four-mobile.webp"
                  alt="watch front view"
                  width="96"
                  height="100"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="sale-watch-big-photo">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/sale/watch-big-tablet-desktop.webp    1x,
                /img/sale/watch-big-tablet-desktop@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/watch-big-tablet-desktop.webp    1x,
                /img/sale/watch-big-tablet-desktop@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/watch-big-mobile.webp    1x,
                /img/sale/watch-big-mobile@2x.webp 2x
              "
            />
            <img
              class="sale-watch-photo"
              src="/img/sale/watch-big-mobile.webp"
              alt="watch photo"
              width="328"
              height="398"
            />
          </picture>
        </div>
      </div>

      <div class="sale-descript-container">
        <h3 class="sale-watch-model">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-watch-art">Product tag: 706587</p>
        <div class="sale-cont-prices">
          <button class="sale-buy-btn" type="button">
            <span>&euro;</span>1500
          </button>
          <p class="sale-regular-price"><span>&euro;</span>3000</p>
        </div>
        <p class="sale-watch-descr">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-feature-list">
          <li class="sale-feature-item">
            <p class="feature-subtitle">Fused carbon fiber</p>
          </li>
          <li class="sale-feature-item">
            <p class="feature-subtitle">Grade-5 Titanuim</p>
          </li>
          <li class="sale-feature-item">
            <p class="feature-subtitle">Athlete</p>
          </li>
          <li class="sale-feature-item">
            <p class="feature-subtitle">Golfer</p>
          </li>
          <li class="sale-feature-item">
            <p class="feature-subtitle">Commander</p>
          </li>
          <li class="sale-feature-item">
            <p class="feature-subtitle">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
