
.container-about {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .container-about {
        gap: 40px;
    }
}

@media only screen and (min-width: 1280px) {
    .container-about {
    flex-direction: row;
    }
}

.about-text {
    border-radius: 30px;
    background: #f3f3f3;
    padding: 40px 20px;
}

@media only screen and (min-width: 768px) {
    .about-text {
        padding: 80px 60px;
    }
}


.about-name {
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
    .about-name {
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }
}

.about-text-top {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 20px;
}

.about-text-bottom {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .about-description {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media only screen and (min-width: 1280px) {
    .about-description {
        line-height: 1.25;
    }
}

.about-button {
    display: flex;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    background: #3350e9;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    border: none;
    align-items: center;
    justify-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-catalog {
    margin: auto;
}

.about-button:focus,
.about-button:hover {
    background-color: #1F3CD4;
}

.about-img {
border-radius: 30px;
width: 100%;
height: auto;
object-fit: fill;
}

@media only screen and (min-width: 1280px) {
    .about-img {
        min-width: 530px;
    }
}