.page-footer {
    width: 100%;
    background-color: #0c0c0c;
    border-radius: 30px;
    padding: 40px 28px 28px 28px;
}

.contact-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 92px;
}

.footer-social {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 122px;
    height: 73px;
    margin-bottom: 20px;
}

.footer-logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.social-list-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.social-item-footer {
    width: 34px;
    height: 34px;
}

.social-link-footer {
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link-footer:hover,
.social-link-footer:focus {

}

.footer-social-icons {
    fill: #fbfbfb;
}

.footer-text {
    display: block;
    width: 279px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-top: 40px;
}

.contacts-link-tel {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    padding: 14px 20px;
}

.footer-nav-box {
    display: flex;
    align-items: baseline;
    position: relative;
    padding-bottom: 24px;
}
.footer-nav-box::after {
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav {
    width: 279px;
    height: 64px;
}

.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 16px;
    width: 147px;
    height: 64px;
}

.footer-nav-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: #fbfbfb;
}

.contacts {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
}

.footer-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 187px;
    height: 36px;
    margin-top: 24px;
}

.footer-box-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

.footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.footer-item-link {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

/* tablet */

@media screen and (min-width: 768px) {
.page-footer {
padding: 40px 40px 28px 40px;
}
.contact-box {
    margin-bottom: 100px;
}
.footer-logo {
    font-size: 20px;
}
.container-tel {
display: flex;
}
.contacts-link-tel {
    margin-left: auto;
    font-size: 14px;
    line-height: 1.28;
    padding: 15px;
}
.footer-text {
    font-size: 28px;
    line-height: 1.14;
    margin-top: 86px;
    width:524px;
    margin-left: auto;
    margin-right: auto;
}
.footer-nav-box {
    display: flex;
    flex-direction: row;
    gap: 62px;
}
.footer-nav {
    width: 400px;
    height: 18px; 
}
.footer-nav-list {
    flex-wrap: nowrap;
    gap: 19px;
}
.footer-nav-link {
    font-size: 14px;
    line-height: 1.28;
    height: 18px;
    text-align: center;
}
.contacts {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    line-height: 1.28;
}
.footer-box {
    width: 100%;
    margin-top: 28px;
    flex-direction: row;
    gap: 159px;
}
.footer-box-text {
    font-size: 14px;
    line-height: 1.28;
}
.footer-item-link{
    font-size: 14px;
    line-height: 1.28;
}
}

/* desktop */

@media screen and (min-width: 1280px) {
    .contact-box {
        display: flex;
        flex-direction: row;
        margin-bottom: 126px;
    }
    .footer-text {
        font-weight: 600;
        margin-top: 0;
    }
    .footer-nav-box {
        justify-content: space-between;
    }
    .footer-box {
        justify-content: space-between;
    }
}