.page-header {
  padding: 20px 0;
  border-bottom: 2px solid #f3f3f3;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1279.98px) {
  .header-nav,
  .header-icon-social-list {
    display: none;
  }
}
.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.burger-icon {
  stroke: #0c0c0c;
}
.burger-btn {
  background-color: transparent;
}
.burger-btn:hover .burger-icon,
.burger-btn:focus .burger-icon {
  stroke: #3350e9;
}


@media screen and (min-width: 768px) {
  .page-header {
    padding: 26px 0;
  }
  .header-logo {
    font-size: 20px;
  }
  .burger-icon {
    width: 40px;
    height: 40px}
}

@media screen and (min-width: 1280px) {
  .page-header {
    padding: 0;
  }

  .burger-btn {
    display: none;
  }
 
  .header-icon-social-list {
    display: flex;
    gap: 24px;
  }

  .header-nav-list {
    gap: 40px;
    display: flex;
    align-items: baseline;
  }

  .header-nav-link {
    display: block;
    padding: 30px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

 

  .header-icon-social-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-icon-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-icon-social-link:hover,
  .header-icon-social-link:focus {
   border: 1px solid rgba(51, 80, 233, 0.1);

  }

  .header-icon-social-svg {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-icon-social-link:hover .header-icon-social-svg,
  .header-icon-social-link:focus .header-icon-social-svg {
    fill: #3350e9;
  }


.home:hover,
.home:focus  {
    .current {
        position: relative;
      }
    
     .current::after {
        content: '';
        position: absolute;
        left: 15px;
        bottom: 20px;
        background: #3350e9;;
        border-radius: 100%;
        width: 8px;
        height: 8px;
      }}
}